.styled .navbar {
  background-color: #222;
  color: white;
}

.styled .navbar-brand {
  color: white;
}
.styled .nav-item {
  color: white;
}

.styled .form-center {
  position: absolute !important;
  left: 25%;
  right: 25%;
}
#collasible-nav-dropdown {
  color: white;
}
